.loginContainer {
    width: 500px;
    padding: 20px;
    background-color: #fff;
  }
  
  .loginContainer h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cardWrapper {
    margin-bottom: 20px;
  }
  
  .orText {
    margin-left: 10px;
  }
  
  .register {
    margin-left: 5px;
    text-decoration: none;
  }